.customers {
  padding: 60px 0;
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }
  &__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.67;
    }
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    flex-basis: calc((100% - 30px) / 2);
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 3);
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 150px) / 6);
    }
  }
  &__link {
    border: 1px solid var(--soc-icon-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      border-color: var(--soc-icon-bg-focushover);
    }
  }
  &__icon {
    fill: var(--soc-icon-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .customers__link:hover &,
    .customers__link:focus & {
      fill: var(--soc-icon-bg-focushover);
    }
  }
}
