.header {
  border-bottom: 1px solid #ececec;
}

.container-header {
  height: 60px;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    height: 80px;
  }
}

.header-menu.is-hidden {
  @media screen and (min-width: 768px) {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.header-menu {
  display: flex;
  width: 100%;
  align-items: center;
}

.navigation {
  margin-right: auto;
  &__list {
    display: flex;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  @include desktop {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 50px;
  }
  &__item-mailtel:first-child {
    @include tablet {
      margin-bottom: 10px;
    }
    @include desktop {
      margin-bottom: 0;
    }
  }
}

.navigation__link {
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--first-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--third-color);
  }
}

.contacts__soc-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
  padding: 16px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--third-color);
  }
  @media screen and (min-width: 768px) {
    padding: 24px 0;
  }
}

.header__web {
  color: var(--third-color);
}

.active {
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--soc-icon-bg-focushover);
    bottom: 0;
    left: 0;
  }
}

.contacts__mailtel {
  display: flex;
  font-weight: 500;
  align-items: center;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--fifth-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--third-color);
  }
  @include tablet {
    font-size: 12px;
    line-height: 1.17;
  }
  @include desktop {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;
  }
}

.header-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  background: rgba(0, 0, 0, 0);
  @media screen and (min-width: 768px) {
    display: none;
  }
}

// mob menu

.header-mob-menu {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  padding: 48px 25px;
  overflow-y: auto;
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.mobile-menu-closed {
  position: absolute;
  top: 10px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  background: rgba(0, 0, 0, 0);
  border: none;
}

.mobile-menu__icon-open {
}

.mob-navigation {
}

.mob-navigation__list {
}

.mob-navigation__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.mob-contacts {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 60px;
  &__item-mailtel {
    &:last-child {
      margin-bottom: 32px;
    }
  }
  &__mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: #757575;
  }
  &__tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196f3;
  }
}

.mob-socials {
  display: flex;
  flex-wrap: wrap;
  &__item {
    &:not(:last-child):after {
      content: "";
      border-left: 1px solid rgba(33, 33, 33, 0.2);
      margin-left: 10px;
      color: rgba(33, 33, 33, 0.2);
    }
    &:not(:first-child) {
      margin-left: 10px;
    }
  }
  &__link {
    color: var(--third-color);
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    padding: 10px 0;
    display: inline;
  }
}

.mob-contacts__soc-icon {
}
.contacts__soc-icon {
}

.current {
  color: var(--third-color);
}
