.hero {
  background-color: var(--sixth-color);
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/img-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.preview__logo {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-color);
  text-align: center;
  max-width: 696px;
  margin: auto;
  @media screen and (min-width: 480px) {
    width: 360px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
  }
}
