.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects__desc {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-color);
}

.projects__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--fifth-color);
}

.portfolio__nav {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.projects__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.projects__link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.projects__logo {
  position: relative;
  overflow: hidden;
}

.projects__top-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--second-color);
  padding: 63px 24px 0 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
  .projects__link:hover &,
  .projects__link:focus & {
    transform: translateY(0%);
  }
}
