.button {
  cursor: pointer;
}

.portfolio__btn-wse {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  color: var(--second-color);
  background-color: var(--third-color);
  cursor: pointer;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--third-color);
    color: var(--second-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.portfolio__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  color: var(--first-color);
  cursor: pointer;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--third-color);
    color: var(--second-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

// .portfolio__button {
//   margin-bottom: 15px;
//   &:not(:last-child) {
//     margin-right: 8px;
//   }
// }

.preview__btn {
  padding: 10px 32px 10px 32px;
  margin: 32px auto 0;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  color: var(--second-color);
  background-color: var(--third-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--hero-button-color);
    color: var(--second-color);
  }
}

.subscribe__btn {
  @include font(16, 1.87, 700, 0.06);
  @extend %align-list;
  justify-content: space-between;
  width: 200px;
  height: 50px;
  padding-left: 29px;
  padding-right: 28px;
  border: 0;
  border-radius: 4px;
  margin: 0 auto;
  color: var(--second-color);
  background-color: var(--third-color);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--hero-button-color);
    color: var(--second-color);
  }
  @media screen and (min-width: 1200px) {
    margin: 0;
    display: inline-flex;
    @media screen and (min-width: 1200px) {
      margin-left: 12px;
    }
  }
}
