body {
  font-family: "Roboto", sans-serif;
  color: var(--first-color);
  background-color: var(--second-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
