:root {
  --first-color: #212121;
  --second-color: #ffffff;
  --third-color: #2196f3;
  --fourth-color: #000000;
  --fifth-color: #757575;
  --sixth-color: #2f303a;
  --seventh-color: #f5f4fa;
  --hero-button-color: #188ce8;
  --soc-icon-color: #afb1b8;
  --soc-icon-color-focushover: #ffffff;
  --soc-icon-bg-focushover: #2196f3;
}
